  <% include ../partials/head %>

<body class="container-fluid">
  <title>Edit Page</title>

  <main>
    <div>
      <h3>EDIT:</h3>
      <form class="event-form" method="POST" action="/events/<%= myEvent._id %>?_method=PUT">
        <% include ../partials/event-form %>
        <a href="/events/<%= myEvent._id %>" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </main>

  <% include ../partials/footer %>
