    <% include ../partials/head %>
    <% include ../partials/navigation %>

  <body id="events_show">


    <main style="margin-top:100px">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col">
            <div id="newbtn">
          <h2>Add a New Event</h2>
            <a href="/events/new" class="btn btn-primary btn-lg">New</a>
            </div>
          <h2>Current Events:</h2>

        <% myEvents.forEach(function(myEvent) { %>
        <h4>
          <form method="POST" action="/events/<%= myEvent._id %>?_method=DELETE">
            <strong><a id="event_page" href="/events/<%= myEvent._id %>"><%= myEvent %></a></strong>
          </form>
        </h4>
        <hr>
        <% }) %>
      </div>
  </div>
</div>
</main>
      <% include ../partials/footer %>
