<meta charset="UTF-8">
  <title><%= title %></title>

<link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<!-- Plugin CSS -->
<link rel="stylesheet" href="/stylesheets/animate.min.css" type="text/css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/creative.css" type="text/css">
