<!DOCTYPE html>
<html>
    <% include ./partials/head %>

    <header class="about">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>About</h1>
                <br>
                <p id = "para_about">Ever wanted to know what the best pizza place is on the BeltLine?
                  <br>
                  We did too.
                  <br>
                  <br>
                  So we went ahead and did something about it! Enjoy.
                </p>
                <hr>
                <a href="/" class="btn btn-primary btn-xl page-scroll">Home</a>
                <hr>
            </div>
        </div>
    </header>

    <% include ./partials/footer %>
