<% include ./partials/head %>

    <header class="about">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>About</h1>
                <br>
                <p id = "para_about">Get into the know and find out what's what with the BL.
                  <br>
                  <br>
                  Enjoy.
                </p>
            </div>
        </div>
    </header>

<% include ./partials/footer %>
