<% include ./partials/head %>

  <body id="page-top">

      <% include ./partials/navigation %>
      <% include ./partials/message %>

      <header>
          <div class="header-content">
              <div class="header-content-inner">
                  <h1>Best of the BeltLine</h1>
                  <hr>
                  <% if (!currentUser) { %>
                  <a href="/signup" class="btn btn-primary btn-xl page-scroll">Sign Up</a>
                  <hr>
                  <h3>Login Using Email:</h3>
                  <h3><a href="/login" class="btn btn-primary btn-xl page-scroll">Login</a></h3>
                  <h3>Login Using:</h3>
                  <a href="/auth/twitter" class="btn btn-lg btn-social-icon btn-twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="/auth/facebook" class="btn btn-lg btn-social-icon btn-facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <% } %>
              </div>
          </div>
      </header>

      <section class="bg-primary" id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">It all started @ GA ATL</h2>
                      <hr class="light">
                      <p class="text-faded">Confused?</p>
                      <a href="https://generalassemb.ly/" class="btn btn-default btn-xl">Read up on it!</a>
                  </div>
              </div>
          </div>
      </section>

      <section id="contact">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">Get in touch with us, if you want...</h2>
                      <hr>
                      <h4>bestofbeltline@gmail.com</h4>
                      <hr class="primary">
                      <p>Made with love using Bootstrap, Passport, and ExpressJS </p>
                  </div>
              </div>
          </div>
      </section>

<% include ./partials/footer %>
