<% include ./partials/head %>

  <body id="page-top">

      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand page-scroll" href="#page-top">Best of the BeltLine</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a class="page-scroll" href="/about">About</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#contact">Contact</a>
                      </li>
                      <% if (currentUser) { %>
                      <li>
                          <a class="page-scroll" href="/logout">Logout</a>
                      </li>
                      <% } %>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>

      <header>
          <div class="header-content">
              <div class="header-content-inner">
                  <h1>Best of the BeltLine</h1>
                  <hr>
                  <% if (!currentUser) { %>
                  <a href="/signup" class="btn btn-primary btn-xl page-scroll">Sign Up</a>
                  <hr>
                  <h3><a href="/login" style="color: white">Already a member?</a></h3>
                  <h3>Sign In Using:</h3>
                  <a href="/auth/twitter" class="btn btn-lg btn-social-icon btn-twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="/auth/facebook" class="btn btn-lg btn-social-icon btn-facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <% } %>
              </div>
          </div>
      </header>

      <section class="bg-primary" id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">It all started here</h2>
                      <hr class="light">
                      <p class="text-faded">Confused?</p>
                      <a href="https://generalassemb.ly/" class="btn btn-default btn-xl">Find out more</a>
                  </div>
              </div>
          </div>
      </section>

      <section id="contact">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">Get in touch with us!</h2>
                      <hr class="primary">
                      <p>Made with love using Bootstrap </p>
                  </div>
              </div>
          </div>
      </section>

<% include ./partials/footer %>
