<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <h2>Best of the BeltLine</h2>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/">Best Shitters</a></li>
          <li><a href="/">Best Necking Spots</a></li>
          <li><a href="/signin">Sign In</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </div>
    </nav>
    <footer class="footer navbar-fixed-bottom text-center">
    <p>&copy Our Group 2015</p>
    </footer>
  </body>
</html>
