    <% include ./partials/head %>
    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand page-scroll" href="/">Best of the BeltLine</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Account
      <span class="caret"></span>
        </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                  </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <header class="header_show">
            <div class="header-content">
                <div class="header-content-inner">
                  <h2>Best of the BeltLine today:</h2>
                    <div class="container">
                      <div class="row">
                    <div class="col-sm-5 .col-md-6">Left
                      <ol>
                        <li>I'm on a list on the left</li>
                        <li>Event on left</li>
                      </ol>
                  </div>
                <div class="col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0"><span class="">Right</span>
                    <ol>
                      <li>I'm on a list on the right</li>
                      <li>Event on right</li>
                    </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </header>


    <% include ./partials/footer %>
