<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand page-scroll" href="#">Best of the BeltLine</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Account
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </div>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h2>Best of the BeltLine today:</h2>
          <div class="container">
            <div class="row">
              <div class="span4">
                <h1>Test</h1>
                <p>Test</p>
                <div class="img-outer"><img src="https://pbs.twimg.com/profile_images/618647359380000769/g4a6P9Yh.jpg" /></div>
              </div>
              <!-- ... -->
            </div>
          </div>
        </div>
      </div>
    </header>


    <% include ./partials/footer %>
