 <div class="jumbotron">
 <h2>Create a new account</h2>
  <form id="local-reg" class="collapse" action="/signup" method="post">
    <div>
        <p></p>
        <label>Email:</label>
        <input type="text" name="email" id="email"/>
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" name="password" id="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Register"/>
    </div>
  </form>
</div>
