<% include ./partials/head %>
<% include ./partials/message %>

<body class = "signin_page">

<<<<<<< HEAD
  <div class="form-box">
=======
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="/">Best of the BeltLine</a>
          </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
        </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>

  <div class="form-box" style="margin: 100px 0px 0px 400px">
>>>>>>> master
    <h1 style="margin-left: 10px">Sign in</h1>
    <p>
    <!-- <a data-toggle="collapse" href="#local" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in Locally</a> -->
    <a href="/auth/twitter" style="margin-left: 10px" class="btn btn-social.btn-lg btn-twitter" role="button">Use Twiter</a>
    <br>
    <br>
    <a href="/auth/facebook" style="margin-left: 10px" class="btn btn-social.btn-lg btn-facebook" role="button">Use Facebook</a>
    </p>

<!--   <div id="local" class="collapse">
    <a data-toggle="collapse" href="#local-sign-in" class="btn btn-default btn-md" role="button">I already have an account</a>
    <a data-toggle="collapse" href="#local-reg" class="btn btn-default btn-md" role="button">I need to make an account</a>
  </div> -->


  <h4 style="margin-left: 10px">Sign in with existing account</h4>
<<<<<<< HEAD

  <form id="local-sign-in" action="/login" method="post" style="margin-left: 10px">
  <div class="form-group">
=======
  <form id="local-sign-in" action="/login" method="post" style="margin-left: 10px">
    <div class="form-group">
>>>>>>> master
        <label style="margin-left: 10px">Email:</label>
        <input type="text" style="color:black; margin-left:10px" name="email" id="email"/>
    </div>
<<<<<<< HEAD
    <div class="form-group">
=======
    <div>
      <div class="form-group">
>>>>>>> master
        <label style="margin-left: 10px">Password:</label>
        <input type="password" style="color:black; margin-left:10px" name="password" id="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" style="margin-left: 10px"/>
    </div>
  </form>
  </div>
</div>
<<<<<<< HEAD
      <br>


      <center><a href="/" class="btn btn-primary btn-xl page-scroll">Home</a>
=======
>>>>>>> master

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/jquery.fittext.js"></script>
  <script src="js/wow.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="js/creative.js"></script>

  </body>

  </html>
