<% include ./partials/head %>

<body class="signup_page">
 <h1>Create a new account</h1>
  <form id="local-reg" action="/signup" method="post">
    <form role="form">

  <div class="form-group">
    <div>

        <label>First Name:</label>
        <input type="text" style="color: black" name="firstName" id="firstName"/>
    </div>
    <div>
        <p></p>
        <label>Last Name:</label>
        <input type="text" style="color: black" name="lastName" id="lastName"/>
    </div>
    <div>
        <p></p>

      <form id="local-sign-in" action="/login" method="post" style="margin-left: 10px">
        <label>Email:</label>
        <input type="text" style="color: black" name="email" id="email"/>
    </div>
    <div>
<<<<<<< HEAD
    <p></p>
        <label>New Password:</label>
=======
        <label>Password:</label>
>>>>>>> 6864987c138f542ac18b1ade77e552445b5fb0e8
        <input type="password" style="color: black" name="password" id="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Signup"/>
    </div>
  </form>
  <div class="flash">
                <% if (typeof message !== 'undefined') { %>
                  <% if (typeof message.error !== 'undefined' && message.error.length > 0) { %>
                    <div class="bg-danger"><%= message.error %></div>
                  <% } %>
                <% if (typeof message.info !== 'undefined' && message.info.length > 0) { %>
                <div class="bg-info"><%= message.info %></div>
                <% } %>
                  <% if (typeof message.success !== 'undefined' && message.success.length > 0) { %>
                  <div class="bg-success"><%= message.success %></div>
                  <% } %>
                <% } %>
              </div>
  </div>
</div>

</body>

<center><p>&copy Steven, Ryan, Sorum, Javin</p>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

</body>

</html>
